body {
}

hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}

.container {
  width: 100%;
}

.banner {
  background-image: url('/image/bgline.png');
}

.page-top {
  margin-top: -70px;
}

.navbar {
  border-radius: 0;
}

.home-headline {
  font-family: 'Times New Roman', Times, Serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: -13px;
}

.home-headline span {
  background-color: #231f20;
  padding: 5px 22px;
}

.section-headline {
  font-family: 'Times New Roman', Times, Serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 130px;
}

.section-headline span {
  background-color: #231f20;
  padding: 5px 22px;
}

.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

.icon {
  float: left;
  margin-right: 5px;
}

.copyright {
  min-height: 40px;
  background-color: #000000;
}

.copyright p {
  color: #fff;
  padding: 20px 0;
  margin-bottom: 0px;
}

.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

.post p {
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.post p span {
  display: block;
  color: #8f8f8f;
}
