<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/layout :: head"/>

<body>
    <div th:replace="common/layout :: navbar"/>

    <div class="container" style="margin-top: -30px">

        <div class="row" style="margin-bottom: -100px;">
            <div class="col-xs-8">
                <h2 class="section-headline"><span>User Account</span></h2>
            </div>
            <div class="col-xs-4" style="margin-bottom: -75px">
                <img src="/image/logo.png" class="img-responsive"/>
            </div>

            <hr style="position: absolute; width: 90%; height: 6px; background-color: #333; z-index: -1; margin-top: 140px;"/>

            <img src="/image/wood.png" class="img-responsive" style="margin-top: -75px"/>
        </div>

        <div class="row" style="margin-top: 150px">
            <div class="col-xs-9 col-xs-offset-3">

                <!--Nav tabs-->
                <ul class="nav nav-tabs">
                    <li th:classappend="${classActiveNewAccount}? 'active'"><a href="#tab-1" data-toggle="tab"><span
                            style="color: red;">Create new account</span></a></li>
                    <li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span
                            style="color: red;">Login</span></a></li>
                    <li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span
                            style="color: red;">Forget password</span></a></li>
                </ul>

                <!--Tab panels-->
                <div class="tab-content">

                    <!-- Create new account pane -->
                    <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #ededed; margin-top: 20px">
                                    <div class="alert alert-info" th:if="${emailSent}">
                                        An email has been sent to the email address you just registered. Please validate
                                        your email address and update your password information.
                                    </div>
                                    <form th:action="@{/newUser}" method="post">
                                        <div class="form-group">
                                            <label for="newUsername">* Username:</label>&nbsp;<span style="color: red"
                                                                                                    th:if="${usernameExists}">Username already exists. Choose a different one!</span>
                                            <input type="text" class="form-control" id="newUsername" name="username"
                                                   required="required"/>
                                            <p style="color: #828282">Enter your username here.</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">* Email:</label><span style="color: red"
                                                                                     th:if="${emailExists}"> Email already exists. Choose a different one!</span>
                                            <input type="text" class="form-control" id="email" name="email"
                                                   required="required"/>
                                            <p style="color: #828282">A valid email address. All emails from the system
                                                will be sent to this address. The email address is not made public and
                                                will only be used if you wish to receive a new password or certain
                                                notifications.</p>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Create new account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Log in -->
                    <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #ededed; margin-top: 20px">
                                    <div th:if="${param.error != null}" style="color: red">Incorrect username or password!</div>
                                    <form th:action="@{/login}" method="post">
                                        <div class="form-group">
                                            <label for="username">* Username:</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                   required="required"/>
                                            <p style="color: #828282">Enter your username here.</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="password">* Password:</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                   required="required"/>
                                            <p style="color: #828282">Enter the password that accompanies your
                                                username</p>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Forget password -->
                    <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
                        <div class="panel-group">
                            <div class="panel panel-default" style="border: none;">
                                <div class="panel-body" style="background-color: #ededed; margin-top: 20px">
                                    <div th:if="${emailNotExists}" class="alert alert-danger">Email doesn't exist!</div>
                                    <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email sent!</div>
                                    <form th:action="@{/forgetPassword}" method="post">
                                        <div class="form-group">
                                            <label for="emailRecovery">* Your email:</label>
                                            <input type="text" class="form-control" id="emailRecovery" name="email"
                                                   required="required"/>
                                            <p style="color: #828282">Enter your registered email here.</p>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- End of tab-contents -->

            </div>
        </div>

    </div> <!-- End of container -->
    <div th:replace="common/layout :: footer"/>
    <div th:replace="common/layout :: body-bottom-scripts"/>
</body>
</html>
