<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/layout :: head"/>

<body>
    <div th:replace="common/layout :: navbar"/>

    <div class="container" style="margin-top: -30px">

        <div class="row" style="margin-bottom: -100px;">
            <div class="col-xs-8">
                <h2 class="section-headline"><span>User Account</span></h2>
            </div>
            <div class="col-xs-4" style="margin-bottom: -75px">
                <img src="/image/logo.png" class="img-responsive"/>
            </div>

            <hr style="position: absolute; width: 90%; height: 6px; background-color: #333; z-index: -1; margin-top: 140px;"/>

            <img src="/image/wood.png" class="img-responsive" style="margin-top: -75px"/>
        </div>

        <div class="row" style="margin-top: 150px">
            <div class="col-xs-12">
                <div class="alert alert-success">
                    <h3><i class="fa fa-check" aria-hidden="true" style="color: limegreen;"></i>
                        Thank you, your order has been placed.</h3>
                    <h4>The estimated delivery date is <span th:text="${estimatedDeliveryDate}"></span></h4>
                </div>

                <h3>List of Items</h3>
                <div class="row" th:each="cartItem : ${cartItemList}">
                    <hr/>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2">
                        <a th:href="@{/phoneDetail(id=${cartItem.phone.id})}">
                            <img class="img-responsive shelf-phone"
                                 th:src="@{/image/phone/}+${cartItem.phone.id}+'.png'"
                                 style="width: 70px;"/>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <div style="margin-left:50px;">
                            <a th:href="@{/phoneDetail?id=}+${cartItem.phone.id}"><h4
                                    th:text="${cartItem.phone.title}"></h4></a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <h5 style="color: #db3200; font-size: large">$<span
                                th:text="${cartItem.phone.ourPrice}"
                                th:style="${cartItem.phone.inStockNumber}==0 ? 'text-decoration: line-through' : ''"></span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End of container -->
    <div th:replace="common/layout :: footer"/>
    <div th:replace="common/layout :: body-bottom-scripts"/>
</body>
</html>
