<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/layout :: head"/>

<body>
    <div th:replace="common/layout :: navbar"/>

    <div class="container" style="margin-top: -30px">
        <div class="row">
            <img src="/image/iphone-cover.png" class="img-responsive" style="margin: 100px auto;"/>
        </div>
        <div class="row" style="width: 90%; margin: 0 auto; margin-bottom: 100px;">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a th:href="@{/smartStore}" class="btn btn-warning">Continue Shopping</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a th:href="@{/checkout(id=${shoppingCart.id})}" class="btn btn-primary">Check Out</a>
                    </div>
                    <br/>
                    <div th:if="${notEnoughStock}" class="alert alert-warning">
                        Oops, some of the products do not have enough stock. Please update product quantity.
                    </div>
                    <div th:if="${emptyCart}" class="alert alert-warning">
                        Oops, your cart is empty. See if you can find what you like in the SmartStore and add them to
                        cart.
                    </div>

                    <br/><br/>

                    <div class="row">
                        <div class="col-xs-8"><h4>Products</h4></div>
                        <div class="col-xs-2"><h4>Price</h4></div>
                        <div class="col-xs-2"><h4>Qty</h4></div>
                    </div>

                    <!--Display Products in Cart-->
                    <div class="row" th:each="cartItem : ${cartItemList}">
                        <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                            <hr/>
                            <div class="col-xs-2">
                                <a th:href="@{phoneDetail(id=${cartItem.phone.id})}">
                                    <img style="width: 70%;" class="img-responsive shelf-phone"
                                         th:src="@{/image/phone/}+${cartItem.phone.id}+'.png'"/>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <div style="margin-left:50px;">
                                    <a th:href="@{/phoneDetail?id=}+${cartItem.phone.id}"><h4
                                            th:text="${cartItem.phone.title}"></h4></a>
                                    <p th:if="${cartItem.phone.inStockNumber&gt;10}" style="color: green;">In Stock</p>
                                    <p th:if="${cartItem.phone.inStockNumber&lt;10 and cartItem.phone.inStockNumber&gt;0}"
                                       style="color: green;">Only <span th:text="${cartItem.phone.inStockNumber}"></span>
                                        In Stock</p>
                                    <p th:if="${cartItem.phone.inStockNumber==0}" style="color: darkred">Product
                                        Unavailable</p>
                                    <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Delete</a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <h5 style="color: #db3200; font-size: large">$<span th:text="${cartItem.phone.ourPrice}"
                                                                                    th:style="${cartItem.phone.inStockNumber}==0 ? 'text-decoration: line-through' : ''"></span>
                                </h5>
                            </div>
                            <div class="col-xs-2">
                                <input hidden="hidden" th:name="id" th:value="${cartItem.id}"/>
                                <input th:id="${cartItem.id}" th:name="qty"
                                       th:disabled="${cartItem.phone.inStockNumber}==0"
                                       class="form-control cartItemQty" th:value="${cartItem.qty}"/>
                                <button style="display: none;" th:id="'update-item-'+${cartItem.id}" type="submit"
                                        class="btn btn-warning btn-xs">Update
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <hr/>
                        <h4 class="col-xs-12 text-right"><strong style="font-size: large;">Total Price (<span
                                th:text="${#lists.size(cartItemList)}"></span> items):</strong><span
                                style="color: #db3200; font-size: large;"> $<span
                                th:text="${shoppingCart.grandTotal}"></span></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of container -->
    <div th:replace="common/layout :: footer"/>
    <div th:replace="common/layout :: body-bottom-scripts"/>
</body>
</html>
