<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/layout :: head"/>

<body>
    <div th:replace="common/layout :: navbar"/>

    <div class="container" style="margin-top: -30px">

        <div class="row" style="margin-bottom: 100px;">
            <img src="/image/iphone-banner.jpg" class="img-responsive" />
        </div>

        <div class="row" style="width: 90%; margin: 0 auto; margin-bottom: 100px;">
            <div class="col-xs-3">
                <h3><label for="brand">Brand</label></h3>
                <div class="list-group" id="brand">
                    <a th:href="@{/smartStore(brand='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
                    <a th:href="@{/searchByBrand(brand='Apple')}" th:classappend="${activeApple}? 'active'" class="list-group-item">Apple</a>
                    <a th:href="@{/searchByBrand(brand='Samsung')}" th:classappend="${activeSamsung}? 'active'" class="list-group-item">Samsung</a>
                    <a th:href="@{/searchByBrand(brand='Huawei')}" th:classappend="${activeHuawei}? 'active'" class="list-group-item">Huawei</a>
                    <a th:href="@{/searchByBrand(brand='Google')}" th:classappend="${activeGoogle}? 'active'" class="list-group-item">Google</a>
                    <a th:href="@{/searchByBrand(brand='Sony')}" th:classappend="${activeSony}? 'active'" class="list-group-item">Sony</a>
                    <a th:href="@{/searchByBrand(brand='Nokia')}" th:classappend="${activeNokia}? 'active'" class="list-group-item">Nokia</a>
                    <a th:href="@{/searchByBrand(brand='OnePlus')}" th:classappend="${activeOnePlus}? 'active'" class="list-group-item">OnePlus</a>
                    <a th:href="@{/searchByBrand(brand='Oppo')}" th:classappend="${activeOppo}? 'active'" class="list-group-item">Oppo</a>
                </div>
            </div>
            <div class="col-xs-9">
                <div th:if="${emptyList}">
                    <h5 style="font-style: italic">Oops, no result is found. Try something else or try again later!</h5>
                </div>

                <table border="0" id="phoneList">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="phone-item" data-th-each="phone : ${phoneList}">
                            <td>
                                <div th:if="${phone != null}">
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-xs-3">
                                            <a th:href="@{/phoneDetail?id=}+${phone.id}"><img th:src="@{/image/phone/}+${phone.id}+'.png'" alt="" class="img-responsive shelf-phone"/></a>
                                        </div>
                                        <div class="col-xs-9">
                                            <a th:href="@{/phoneDetail?id=}+${phone.id}"><h4 th:text="${phone.model}" style="display: inline;"></h4></a>
                                            <br/>
                                            by <i><span th:text="${phone.company}"></span></i> <br/>
                                            <a th:href="@{/phoneDetail?id=}+${phone.id}"><span style="font-size: x-large; color: #db3208;">$<span th:text="${#numbers.formatDecimal(phone.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span></span></a>
                                            <span style="text-decoration: line-through">$<span th:text="${#numbers.formatDecimal(phone.listPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                            <p th:utext="${#strings.abbreviate(phone.description, 2000)}"></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- End of container -->

    <div th:replace="common/layout :: footer"/>

    <div th:replace="common/layout :: body-bottom-scripts"/>
    <script>
        $(document).ready(function () {
            $('#phoneList').DataTable({
                "lengthMenu":[[5,10,15,20,-1],[5,10,15,20,"All"]],
                "ordering": false,
                stateSave: true
            });

            $('#phoneList').on('page.dt', function () {
                $('html, body').animate({
                   scrollTop: $('#phoneList').offset().top
                }, 200);
            })
        })
    </script>
</body>
</html>
