<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/admin-layout :: head"/>

<body>
    <div th:replace="common/admin-layout :: navbar"/>

    <div class="container">
        <div class="row">
            <form class="form-horizontal" th:action="@{/admin/phone/updatePhone}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend class="center-block">
                        Update Phone Information
                        <span style="font-size: small"> * is a required field</span>
                    </legend>

                    <input hidden="hidden" name="id" th:value="${phone.id}" />

                    <!-- Title -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="title">* Title</label>

                        <div class="col-md-8">
                            <input type="text" name="title" class="form-control" id="title"
                                   th:value="${phone.title}" required="required" placeholder="Title"/>
                            <span class="help-block">Title of the phone</span>
                        </div>
                    </div>

                    <!-- Author -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="author">* Author</label>
                        <div class="col-md-8">
                            <input type="text" name="author" class="form-control" id="author"
                                   th:value="${phone.author}" required="required"
                                   placeholder="Author"/>
                            <span class="help-block">Author of the phone</span>
                        </div>
                    </div>

                    <!-- Publisher -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="publisher">Publisher</label>
                        <div class="col-md-8">
                            <input type="text" name="publisher" class="form-control"
                                   id="publisher" th:value="${phone.publisher}"
                                   placeholder="Publisher"/>
                            <span class="help-block">Publisher of the phone</span>
                        </div>
                    </div>

                    <!-- Publication Date -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="publicationDate">Publication Date</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" id="publicationDate"
                                   name="publicationDate" th:value="${phone.publicationDate}"
                                   placeholder="ublication Date"/>
                            <span class="help-block">Publication Date of the phone</span>
                        </div>
                    </div>

                    <!-- Language -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="language">Language</label>
                        <div class="col-md-8">
                            <select th:value="${phone.language}" id="language" name="language"
                                    class="form-control">
                                <option value="English">English</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Korean">Korean</option>
                                <option value="Vietnamese">Vietnamese</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="category">*
                            Category</label>
                        <div class="col-md-8">
                            <select th:value="${phone.category}" id="category" name="category"
                                    class="form-control">
                                <option value="" selected="selected" disabled="disabled">
                                    Please select an option...
                                </option>
                                <option value="Management"
                                        th:selected="(${phone.category}=='Management')">Management
                                </option>
                                <option value="Business"
                                        th:selected="(${phone.category}=='Business')">Business
                                </option>
                                <option value="Novel"
                                        th:selected="(${phone.category}=='Novel')">Novel
                                </option>
                                <option value="Fiction"
                                        th:selected="(${phone.category}=='Fiction')">Fiction
                                </option>
                                <option value="Entertainment"
                                        th:selected="(${phone.category}=='Entertainment')">Entertainment
                                </option>
                                <option value="Engineering"
                                        th:selected="(${phone.category}=='Engineering')">Engineering
                                </option>
                                <option value="Programming"
                                        th:selected="(${phone.category}=='Programming')">Programming
                                </option>
                                <option value="Arts &amp; Literature"
                                        th:selected="(${phone.category}=='Arts &amp; Literature')">
                                    Arts &amp; Literature
                                </option>
                                <option value="Other"
                                        th:selected="(${phone.category}=='Other')">Other
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Pages -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="pageNumber">Pages</label>

                        <div class="col-md-8">
                            <input type="number" name="numberOfPages" class="form-control"
                                   id="pageNumber" th:value="${phone.numberOfPages}"
                                   placeholder="Page Number"/>
                            <span class="help-block">Number of pages of the phone</span>
                        </div>
                    </div>

                    <!-- Format -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="format">Format</label>
                        <div class="col-md-8">
                            <select th:value="${phone.format}" id="format" name="format"
                                    class="form-control">
                                <option value="paperback">Paperback</option>
                                <option value="hardcover">Hardcover</option>
                            </select>
                        </div>
                    </div>

                    <!-- ISBN -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="isbn">ISBN</label>

                        <div class="col-md-8">
                            <input type="text" name="isbn" class="form-control" id="isbn"
                                   th:value="${phone.isbn}" placeholder="ISBN"/>
                            <span class="help-block">ISBN of the phone</span>
                        </div>
                    </div>

                    <!-- Shipping Weight -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="shippingWeight">Shipping
                            Weight</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input th:value="${phone.shippingWeight}" type="number"
                                       name="shippingWeight" class="form-control" id="shippingWeight" step="0.01"
                                       placeholder="Shipping Weight"/>
                                <span class="input-group-addon">Ounces</span>
                            </div>
                            <span class="help-block">Shipping Weight of the phone</span>
                        </div>
                    </div>

                    <!-- List Price -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="listPrice">List
                            Price</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input th:value="${phone.listPrice}" type="number" name="listPrice" step="0.01"
                                       class="form-control" id="listPrice" placeholder="List Price"/>
                            </div>
                            <span class="help-block">List price of the phone</span>
                        </div>
                    </div>

                    <!-- Our Price -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="ourPrice">Our
                            Price</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input th:value="${phone.ourPrice}" type="number" name="ourPrice" step="0.01"
                                       class="form-control" id="ourPrice" placeholder="Our Price"/>
                            </div>
                            <span class="help-block">Our price of the phone</span>
                        </div>
                    </div>

                    <!-- In Stock Number -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="inStockNumber">Number
                            in stock</label>
                        <div class="col-md-8">
                            <input th:value="${phone.inStockNumber}" type="number"
                                   name="inStockNumber" class="form-control" id="inStockNumber"
                                   placeholder="Number of in-stock copies"/>
                            <span class="help-block">Number of in-stock copies</span>
                        </div>
                    </div>

                    <!-- Status Of Phone -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="status">Status</label>
                        <div class="col-md-8">
                            <label><input value="true" type="radio" name="active" th:checked="${phone.active}"/> Active </label>
                            <label><input value="false" type="radio" name="active" th:checked="${!phone.active}"/> Inactive </label>
                            <span class="help-block">Whether the phone is active or inactive</span>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="description">Description</label>
                        <div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
                                      id="description" th:value="${phone.description}" th:text="${phone.description}"
                                      placeholder="Description"/>
                            <span class="help-block">Description of the phone</span>
                        </div>
                    </div>

                    <!-- Upload Image -->
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="phoneImage">Upload phone image</label>
                        </div>
                        <div class="col-md-8">
                            <input id="phoneImage" type="file" name="phoneImage"
                                   th:value="${phone.phoneImage}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success">Update Phone</button>
                            <a class="btn btn-danger" th:href="@{/admin/phone/phoneInfo(id=${phone.id})}">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div th:replace="common/admin-layout :: body-bottom-scripts"/>
</body>
</html>
